body {
    margin: 0;
}

div {
  border: 1px solid black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width:  100%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
    flex-grow: 1;
}

.logo span {
    color: mediumaquamarine;
    padding-left: 10px;
}

.nav {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
}

.nav span {
    padding: 20px 10px;
}

.nav a {
    color: black;
    text-decoration: underline;
}

.maincontainer {
    display: flex;
    width:  1232px;
    padding-top: 140px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto 78px auto;
}

.column {
    display: flex;
    flex-direction: row;
    margin-right: 32px;
}

.first.column {
    width: 630px;
    height: auto;
}

.headlinestory {
    display: block;
}

.imagetext {
    display: block;
    justify-content: center;
    font-weight: 12px;
}

.maintext {
    display: block;
    justify-content: center;
}

.subheading {
    display: block;
    font-weight: 16px;
    font-style: bold;
}

.second.column {
    width: 300px;
}

.third.column {
    width: 240px;
}