body {
    margin: 0 auto;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width:  100%;
    height: 80px;
    border-bottom: 1px solid black;
    background-color: white;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
}

.narrative {
    display: block;
    margin-top: 16px;
    font-family: Georgia;
    font-size: 17px;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
    flex-grow: 1;
}

.logo span {
    color: mediumaquamarine;
    padding-left: 10px;
}

.nav {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
}

.nav span {
    padding: 20px 10px;
}

.nav a {
    color: black;
    text-decoration: underline;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    width:  1232px;
    padding-top: 116px;
    margin: 0 auto 78px auto;
}

.first {
    min-width: 630px;
    margin-right: 32px;
}

.leadstory {
    display: flex;
    flex-direction: column;
}

.leadimage {
    background-image: url(../images/img-story-main.png);
}

.leadimage.caption {
    display: flex;
    width: 630px;
    height: 300px;
    margin-top: 0;
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px; 
    color: white;
    text-align: center;
    align-items: center;
}

.column1stories {
   display: flex;
   justify-content: space-around;
   margin-top: 17px;
}

.stories {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.imagecaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    align-items: center;
    margin-top: 15px;
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.earthspins.imagecaption {
    background-image: url(../images/img-story-2.png);
}

.research.imagecaption {
    background-image: url(../images/img-story-3.png);
}

.second {
    min-width: 300px;
    margin-right: 32px;
    justify-content: flex-start;
}

.cats.imagecaption {
    background-image: url(../images/img-story-1.png);
}

.third {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 240px;
}

img.cookie {
height: 240px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
}

h3 {
    margin-bottom: 41px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.newsbites {
    display: block;
    margin: 0 auto;
}

.bite {
    display: flex;
    background-color: WhiteSmoke;
    border-bottom: 1px solid black;
    padding: 11px 20px;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    background-color: MediumAquamarine;
    width: 100%;
    height: 325px;
    font-family: Verdana;
    font-size: 12px;
}

.mytimes {
    display: block;
    padding: 20px;
}

.footertitle {
    display: inline-block;
    justify-content: center;
    padding-right: 25px;
    border-right: 2px white solid;
    color: white;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

footer nav {
    display: block;
    padding-left: 25px;
}

.copyright {
    display: block;
}

